<header class="header">
  <mat-toolbar class="header-container" color="primary">
<!--    <button mat-icon-button >-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
    <span routerLink="/" class="header-title">
       <mat-icon>search</mat-icon>
      Image Finder
    </span>
    <span class="spacer"></span>
    <div *ngIf="!isLoggedIn" class="header-login">
      <a mat-raised-button routerLink="/login" class="login-link" >
        Log in
      </a>
      <span class="header-link-divider">or</span>
      <a mat-raised-button color="accent" routerLink="/register" class="register-link" >
        Sign up
      </a>
    </div>
    <div *ngIf="isLoggedIn" class="header-logout">
      <span class="header-username">{{(user$ | async).email}}</span>
      <button mat-raised-button color="accent" class="logout-link" (click)="onLogout()">
        Log out
      </button>
    </div>

  </mat-toolbar>
</header>
