<app-search (getSearchValue)="getSearchValue($event)"></app-search>
<section class="images">

  <div *ngIf="(images$ | async)?.length" class="images-container">
    <div class="images-pagination">
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="handlePage($event)">
      </mat-paginator>
    </div>
    <div class="images-container"
         fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="32px"
         fxLayoutAlign="flex-start">
      <ng-container *ngFor="let image of images$ | async">
        <app-image [image]="image"></app-image>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-container *ngIf="isImagesEmpty">
    <div class="images-empty">
      No images here. Would you try to search for anything else?
    </div>
  </ng-container>

</section>
