<section class="bookmarks">

  <div *ngIf="bookmarks.length;else bookmarksEmpty" class="bookmarks-container">
    <div class="images-container"
         fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="32px"
         fxLayoutAlign="flex-start">
      <ng-container *ngFor="let bookmark of bookmarks">
        <app-bookmark [bookmark]="bookmark" (removeFromBookmarks)="removeBookmark($event)"></app-bookmark>
      </ng-container>
    </div>
  </div>

  <ng-template #bookmarksEmpty>
    <div class="bookmarks-empty">
      No bookmarks here. You can return to
      <a>search page</a>
      and add some bookmarks.
    </div>
  </ng-template>
</section>
