<section class="bookmarks">

  <div *ngIf="bookmarks.length" class="bookmarks-container">
    <div class="images-container"
         fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="32px"
         fxLayoutAlign="flex-start">
      <ng-container *ngFor="let bookmark of bookmarks">
        <app-bookmark [bookmark]="bookmark" (removeFromBookmarks)="removeBookmark($event)"></app-bookmark>
      </ng-container>
    </div>
  </div>

  <div class="bookmarks-empty" *ngIf="isLoggedIn && !bookmarks.length">
    No bookmarks here. You can return to
    <a routerLink="/images">search page</a>
    and add some bookmarks.
  </div>

  <div class="bookmarks-empty" *ngIf="!isLoggedIn">
    You should
    <a routerLink="/images">Log In</a>
    to see your bookmarks.
  </div>
</section>
